:root {
  --dark: #202124;
  --gray: #bdc1c6;
  --text: #202124;
  --subtitle: #5f6368;
}

.h1 {
  font-size: 2rem;
}
.h2 {
  font-size: 1.5rem;
}
.h3 {
  font-size: 1.25rem;
}
.h4 {
  font-size: 1rem;
  line-height: 1.5;
}
.h5 {
  font-size: 0.875rem;
}
.h6 {
  font-size: 0.5rem;
}

body {
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
}

.logo {
  background: url(https://storage.googleapis.com/spec-host/mio-staging/mio-material/1559077276272/static/m2/images/mio-logo-sprite.png)
    100% 50% / auto 100% no-repeat;
  display: block;
  height: 32px;
  width: 32px;
  margin-right: 16px;
}

.bg-dark {
  background-color: var(--dark) !important;
}

header span,
div#module h4,
.card h3 {
  font-family: "Roboto Mono", monospace;
}
header i {
  cursor: pointer;
}

main,
body > aside > div,
footer div {
  max-width: 1200px;
  margin: 0 auto;
}

.jumbotron,
main aside:nth-child(1),
main aside:nth-child(3) {
  margin-bottom: 120px;
}

section.jumbotron > div {
  max-width: 500px;
}

#module {
  max-width: 800px;
}

section.card {
  border: 1px solid rgba(0, 0, 0, 0);
  margin-bottom: 14px;
  transition: border 0.3s ease;
}

section.card:hover {
  border: 1px solid rgba(0, 0, 0, 0.12);
}

body > aside,
footer {
  background-color: #f1f3f4;
}
body > aside > div.row {
  padding-top: 80px;
}

/* FOOTER */
a {
  text-decoration: none;
}

#social li:not(:last-child)::after {
  content: "/";
  margin: 0 8px;
}

@media (max-width: 460px) {
  .h1:not(.material-icons) {
    font-size: 1.5rem;
  }
  .h4 {
    font-size: 0.875rem;
  }

  header > div {
    order: 1;
  }

  header > nav {
    order: 2;
  }
}

@media (min-width: 768px) {
  footer p {
    width: 400px;
  }
}

header#navbar {
  position: sticky;
  top: 0;
  transition: top 0.3s cubic-bezier(0.4, 0, 0.2, 1) 0.3s;
  z-index: 1000;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}
